<div id="block-{{ block.id }}" class="sports-team-info" style="padding: 1rem; border-radius: 10px">
  <div style="display: flex; justify-content: space-between"> 
    {% if product.metafields.custom.sports_team_name and block.settings.additional_name %}
      <h2>{{ product.metafields.custom.sports_team_name }}</h2>
    {% endif %}
    {% if product.metafields.custom.team_image and block.settings.additional_image %}
      <img src="{{ product.metafields.custom.team_image | file_url }}" style="border-radius: 50px" alt="{{ product.metafields.custom.sports_team_name }}" width="100" height="100">
    {% endif %}
  </div>
  {% if product.metafields.custom.team_url and block.settings.additional_url %}
    <a href="{{ product.metafields.custom.team_url }}" style="text-decoration: none" target="_blank">Team´s Website</a>
  {% endif %}
</div>

<style>
  #block-{{ block.id }} {
    background-color: {{ block.settings.background_color }};
  }
</style>

{% schema %}
{
  "name": "Team Displair",
  "target": "section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "additional_name",
      "label": "Show Team Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "additional_image",
      "label": "Show Team Image",
      "default": true
    },
        {
      "type": "checkbox",
      "id": "additional_url",
      "label": "Show Team url",
      "default": true
    }
  ]
}
{% endschema %}


